# .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# Veritabanı
*.db
*.db-journal
*.db-wal
*.db-shm

# IDE
.vs/
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Secrets
appsettings.Development.json
secrets.json
